.row
	.col-12.col-sm-12.col-lg-12
		%h1.center
			Tecnologías
.row
	.col-12.col-sm-8.col-lg-8
	.col-12.col-sm-4.col-lg-4
		.about_us_little_title
			%h3 Pantallas
.row
	.col-12.col-sm-8.col-lg-8
		.about_us
			.image 
				= image_tag "/assets/pantallas/th4_a.png"
	.col-12.col-sm-4.col-lg-4
		.about_us_text
			%p
				Pantalla th4
.row
	.col-12.col-sm-8.col-lg-8
		.about_us
			.image 
				= image_tag "/assets/pantallas/th4_b.png"
	.col-12.col-sm-4.col-lg-4
		.about_us_text
			%p
				Pantalla th4 b

.row
	.col-12.col-sm-4.col-lg-4
		.about_us_little_title
			%h3.center CCTV
	.col-12.col-sm-8.col-lg-8
.row
	.col-12.col-sm-4.col-lg-4
		.about_us_text
			%p
				Atem System
	.col-12.col-sm-8.col-lg-8
		.about_us
			.image 
				= image_tag "/assets/cctv/atem_system.jpg"
.row
	.col-12.col-sm-4.col-lg-4
		.about_us_text
			%p
				Camara
	.col-12.col-sm-8.col-lg-8
		.about_us
			.image 
				= image_tag "/assets/cctv/camara.jpg"

.row
	.col-12.col-sm-4.col-lg-4
		.about_us_text
			%p
				Hyper Deck Studioi
	.col-12.col-sm-8.col-lg-8
		.about_us
			.image 
				= image_tag "/assets/cctv/hyperdeckstudio.png"

.row
	.col-12.col-sm-4.col-lg-4
		.about_us_text
			%p
				ITC 100
	.col-12.col-sm-8.col-lg-8
		.about_us
			.image 
				= image_tag "/assets/cctv/itc_100.jpg"
