= form_for @gallery, class: "form-horizontal" do |f|
  - if @gallery.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
      %ul
        - @gallery.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :location, "Tag",  class:"col-lg-2 col-sm-2 control-label"
    .col-lg-10.col-sm-10
      = f.text_field :location, class: "form-control", placeholder: "TopVision"
  .clear
  .field.form-group
    = f.label :image_url, "URL",  class:"col-lg-2 col-sm-2 control-label"
    .col-lg-10.col-sm-10
      = f.text_field :image_url, class: "form-control", placeholder: "URL"
  .field.form-group
    .actions.text-manager-submit.col-lg-10.col-sm-10.col-offset-2
      = f.submit 'Guardar', class: "btn btn-default"
